container_commands:
  01_install_dev_tools:
    command: "sudo yum install -y openssl-devel libffi-devel python3-devel gcc"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  02_install_pip:
    command: "sudo yum install python3-pip -y"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  03_install_certbot:
    command: "sudo pip3 install certbot certbot-nginx"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  04_configure_websocket:
    command: |
      WS_CONFIG="    location /ws {\\n        proxy_pass http://127.0.0.1:8001;\\n        proxy_http_version 1.1;\\n        proxy_set_header Upgrade \$http_upgrade;\\n        proxy_set_header Connection \"upgrade\";\\n        proxy_set_header Host \$host;\\n        proxy_set_header X-Real-IP \$remote_addr;\\n        proxy_set_header X-Forwarded-For \$proxy_add_x_forwarded_for;\\n    }"
      NGINX_CONF="/etc/nginx/nginx.conf"
      if ! sudo grep -q "location /ws" "$NGINX_CONF"; then
          sudo sed -i "/ssl_dhparam/a $WS_CONFIG" $NGINX_CONF
      fi
      sudo systemctl reload nginx
    ignoreErrors: true