container_commands:
  01_install_dev_tools:
    command: "sudo yum install -y openssl-devel libffi-devel python3-devel gcc"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  02_install_pip:
    command: "sudo yum install python3-pip -y"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"
  03_install_certbot:
    command: "sudo pip3 install certbot certbot-nginx"
    ignoreErrors: true
    test: test ! -d "/etc/letsencrypt/"