@tailwind base;
@tailwind components;
@tailwind utilities;

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.border {
  border-width: 1px;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.font-bold {
  font-weight: 700;
}

.underline {
  text-decoration-line: underline;
}

:root {
  /* Color Theme Swatches in RGBA */
  --color2: #f25c05;
  --color1: #d18457;
  --color4: rgba(1, 89, 89, 1);
  --color5: rgb(41, 243, 23);
  --color51: rgb(41, 243, 23, 0.5);
  --color3:#FFEDD5;
  --whiteChecker: #FEF08A;
  --blackChecker: #592202;
  --checkerSize: 2.3rem;
  /* --color1: #F2E205;
    --color2: #F2BD1D;
    --color3: #BF9B7A;
    --color4: #A65526 ;
    --color5: #F23D3D;  */
}

/* Color Theme Swatches in RGBA
.Travel-1-rgba { color: rgba(3, 172, 191, 1); }
.Travel-2-rgba { color: rgba(3, 191, 191, 1); }
.Travel-3-rgba { color: rgba(1, 89, 89, 1); }
.Travel-4-rgba { color: rgba(160, 165, 3, 1); }
.Travel-5-rgba { color: rgba(242, 223, 201, 1); } */


.players {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  width: calc(var(--checkerSize) * 16);
  height: calc(var(--checkerSize) * 1.5);
  margin: 4px;
  padding: 0;
  list-style: none;
  font-size: calc(var(--checkerSize) * 00.4);
  /* color: var(--color1); */
  text-align: center;
}

.player1 {
  background-color: var(--whiteChecker);
  line-height: calc(var(--checkerSize) * 0.75);
  min-width: calc(var(--checkerSize) * 4);
  margin: calc(var(--checkerSize) / 2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.player2 {
  background-color: var(--blackChecker);
  color: var(--whiteChecker);
  line-height: calc(var(--checkerSize) * 0.75);
  margin: calc(var(--checkerSize) / 5);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.card {
  background-color: var(--color2);
  width: calc(var(--checkerSize) * 12);
  height: calc(var(--checkerSize) * 1.5);
  line-height: calc(var(--checkerSize) * 0.75);
  /* margin: calc(var(--checkerSize)/5); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
}

.playerActive {
  background-color: var(--color5);
  color: black;
  scale: 1.5;
  transition: all 0.5s ease-in-out;
}

.actionPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--checkerSize) * 12);
  height: calc(var(--checkerSize) * 1.5);
  margin: calc(var(--checkerSize) / 5);
  font-size: calc(var(--checkerSize) * 00.4);
  text-align: center;
}

.dice {
  background-color: var(--color1);
  width: calc(var(--checkerSize) * 12);
  height: calc(var(--checkerSize) * 0.75);
  line-height: calc(var(--checkerSize) * 0.75);
  margin: calc(var(--checkerSize) / 10);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
}

/*set disabled button*/

/* button.dice:disabled {
  background-color: var(--color3);
  cursor: not-allowed;
}

button.dice:hover:not(:disabled) {
  background-color: var(--color51);
} */

/* .btn-pressed {
  background-color: var(--color2);
} */

.board {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  /* background-color: #926f40; */
  background-image: url("/board2.jpg");
  background-size: 100% 100%;
  padding-left: calc(var(--checkerSize) / 1.2);
  padding-right: calc(var(--checkerSize) / 1.2);
  padding-top: calc(var(--checkerSize) / 0.8);
  padding-bottom: calc(var(--checkerSize) / 0.8);
  /* -moz-column-gap: var(--checkerSize);
       column-gap: var(--checkerSize); */
  align-items: center;
 }
.barGrid {
   grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.checker {
  width: var(--checkerSize);
}

img.checker:hover {
  cursor: grab;
}

img.checker:active {
  cursor: grabbing;
}

.grid-container {
  display: inline-grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(6, 1fr);
  /* background-color: #926f40; */
}
.grid-container-bar {
  display: inline-grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(1, 1fr);
  /* background-color: #926f40; */
}

.grid-container-out {
  display: inline-grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  /* background-color: #926f40; */
}



.grid-item {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(238, 204, 159); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  font-size: 30px;
  width: var(--checkerSize);
  height: calc(var(--checkerSize) * 6.5);
  text-align: center;
}

.grid-item-bar {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(238, 204, 159); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  font-size: 30px;
  width: var(--checkerSize) ;
  height: calc(var(--checkerSize) * 6);
  text-align: center;
}

.out {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(159, 164, 238); */
  min-height: var(--checkerSize);
  width: calc(var(--checkerSize) * 6.5);
  text-align: center;
  border-radius: var(--checkerSize);
}



.point {
  display: flex;
  flex-direction: column;
  width: var(--checkerSize);
  height: calc(var(--checkerSize) * 6.5);
  border-radius: var(--checkerSize);
}

.rtl {
  flex-direction: column-reverse;
  direction: rtl;
}

.pointAllowed {
  background-color: var(--color51);
}

.outAllowed {
  background-color: var(--color51);
}

.hidden {
  display: none;
}

li {
  list-style-type: none;
  padding: 0;
}

.winner {
  background-color: var(--color4);
  width: calc(var(--checkerSize) * 12);
  height: calc(var(--checkerSize) * 5);
  line-height: calc(var(--checkerSize) * 0.75);
  /* margin: calc(var(--checkerSize)/5); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
}

/* copyright footer style

div.copyright {
  background-color: #f8f8f8;
  color: #777;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  border-top: 1px solid #ddd;
}

div.copyright a {
  color: #777;
  text-decoration: none;
}

div.copyright a:hover {
  color: #555;
} */

.footer {
  min-width: calc(var(--checkerSize) * 17);
}